
                －－－《小雪初晴》游戏规则－－－

      《小雪初晴》是建立在「东方故事Ⅱ」 mudlib 上的一个ＭＵＤ，我们
的目的是为广大在ＩＮＴＥＲＮＥＴ上玩的，能够读写汉字的朋友们提供一个
消遣时间，谈天说地的地方。当然，就向其他的ＭＵＤ一样，我们需要一套规
则来保证游戏能够正常运行，玩家们能玩的高兴。不愿意遵守以下规则的朋友
请勿加入本游戏，谢谢。

        ＊      请在公开交谈时尽量使用中文。
        ＊      请勿辱骂任何一位巫师或玩家。
        ＊      请用 tell 或 reply 来进行私人交谈。
        ＊      请勿使用易引起混乱或不雅观的中、英文名字。巫师保
		有更改玩家的中、英文名字直至删除其档案的权利。
        ＊      请勿故意使用和他人一模一样的姓名。
        ＊      严禁使用机器人练功。
        ＊      严禁ＭＵＬＴＩＬＯＧＩＮ。
        ＊      严禁多人共用一个人物。
        ＊      严禁公开或私下ＦＬＯＯＤ。
        ＊      严禁利用ＢＵＧ牟利。
        ＊      严禁泄露谜题，机关解法。
        ＊      允许互相ＰＫ，下毒，抢劫，行窃。
        ＊      所有巫师除了必须遵守以上规则外，还要遵守 wizrules。

        巫师协会保留对犯规行为采取任何处理办法的权利。

				        Ｂｙ 笨小孩 （改变自侠客行）
